n8n_workflows/Updated Linkedin Post Image Generation WF.json
{
  "name": "Updated Linkedin Post Image Generation WF",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dafbb29e-ef4d-475d-8622-704a081c300d",
              "leftValue": "={{ $('Google Sheets Trigger1').item.json['Image Status'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        -112
      ],
      "id": "b61eafb9-b2a3-4c2a-b5c1-9331fb2895b5",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -96,
        -128
      ],
      "id": "d2e3c728-675b-4399-868a-eb0c202cb6b1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc",
          "mode": "list",
          "cachedResultName": "IMAGE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "S. No": "={{ $('Google Sheets Trigger1').item.json['S. No'] }}",
            "URLS": "={{ $json.permalink }}\n\n\n{{ $json.url_private }}\n",
            "Image Status": "SUCCESS"
          },
          "matchingColumns": [
            "S. No"
          ],
          "schema": [
            {
              "id": "S. No",
              "displayName": "S. No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PROMPT",
              "displayName": "PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Prompt Status",
              "displayName": " Prompt Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image Status",
              "displayName": "Image Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URLS",
              "displayName": "URLS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Slack status",
              "displayName": "Slack status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        -128
      ],
      "id": "bb0317be-5d58-4f9b-ba71-35c3b30430c2",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7z3p5A3447oDy8NC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        336,
        -128
      ],
      "id": "a7b7f6d0-da50-4038-9481-c75e09a88f74",
      "name": "Upload a file",
      "webhookId": "84d6faf5-83b0-4313-a242-5b15288730af",
      "credentials": {
        "slackOAuth2Api": {
          "id": "sdloV8UKOsSMqQII",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{ $json.PROMPT }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        128,
        -128
      ],
      "id": "1b8d5da3-4dad-450c-ab29-24fdeb2750b5",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "eRkbqIOYwTajTYhG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ $json.Content }}  -\ncreate the prompt for generating the image in nano banana by this content. so Give me a prompt that can be used in nano banana for image that can be posted along with this post content he image must be in 1:1 ratio"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -720,
        -112
      ],
      "id": "734c4275-e988-47d6-9743-cb2df13bb42c",
      "name": "Message a model",
      "credentials": {
        "perplexityApi": {
          "id": "h6bjlKFjDbpyuZ0h",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc",
          "mode": "list",
          "cachedResultName": "IMAGE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1360,
        -96
      ],
      "id": "e8d9b567-72fa-4e73-a303-1a14c09dbe0d",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "nrnhXPPXHDp4rJIj",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6926f78-c9df-4289-8dda-33348237954f",
              "leftValue": "={{ $json[' Prompt Status'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1152,
        -96
      ],
      "id": "56e00dcd-6d48-480e-86b0-e794db9342a4",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -928,
        -112
      ],
      "id": "94b04312-63e0-4b93-b8ff-df46e85f9bcb",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "S. No": "={{ $(\"Google Sheets Trigger1\").item.json['S. No'] }}",
            "PROMPT": "={{ $json.choices[0].message.content }}",
            " Prompt Status": "SUCCESS"
          },
          "matchingColumns": [
            "S. No"
          ],
          "schema": [
            {
              "id": "S. No",
              "displayName": "S. No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROMPT",
              "displayName": "PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Prompt Status",
              "displayName": " Prompt Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image Status",
              "displayName": "Image Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URLS",
              "displayName": "URLS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -512,
        -96
      ],
      "id": "71aba091-0867-45d1-b805-d5f6b75d415f",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7z3p5A3447oDy8NC",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "532a7cf8-8620-48c0-bbe7-e0b21aa5c16e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e1230e46d6378bfba3d2bd7acc11da231f56d205302c1a3342427f4223deb0a"
  },
  "id": "DcQ9XbKKMHBlPGpB",
  "tags": []
}