n8n_workflows/workflow_prompt_generation.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc",
          "mode": "list",
          "cachedResultName": "IMAGE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8340deaa-df15-4ce7-bf6e-2dd91f1b044d",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "29Eml70BZ67gchvz",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6926f78-c9df-4289-8dda-33348237954f",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "8eab219d-540b-475d-806f-4d754aa139cb",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        -96
      ],
      "id": "080aed6b-5979-4c50-b650-96c9ae1b046f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc",
          "mode": "list",
          "cachedResultName": "IMAGE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "S. No": "={{ $(\"Google Sheets Trigger\").item.json['S. No'] }}",
            "PROMPT": "={{ $json.choices[0].message.content }}"
          },
          "matchingColumns": [
            "S. No"
          ],
          "schema": [
            {
              "id": "S. No",
              "displayName": "S. No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROMPT",
              "displayName": "PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URLS",
              "displayName": "URLS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        -128
      ],
      "id": "1c058119-1b4a-4603-b40a-d5eb04f55fb0",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5juszwtLc6D0v9rq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ $json.Content }}  -\ncreate the prompt for generating the image in nano banana by this content. so Give me a prompt that can be used in nano banana for image that can be posted along with this post content he image must be in 1:1 ratio"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        768,
        -128
      ],
      "id": "5c94fdc9-b563-411c-b160-2f4193237c8d",
      "name": "Message a model",
      "credentials": {
        "perplexityApi": {
          "id": "pYS52izy3geOD3K1",
          "name": "Perplexity account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c91ab952-804e-40ef-a172-6e97e6a8d60c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d74a84e9b05e800d92d5ee8a190f581e0dafa29601c613308998a8cb74a8a430"
  },
  "id": "SCzuHCiXPB3Fuq10",
  "tags": []
}