n8n_workflows/workflow_image_generation.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc",
          "mode": "list",
          "cachedResultName": "IMAGE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit#gid=0"
        },
        "includeInOutput": "both",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9851edf7-587a-4af4-9944-9aae234d6511",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "29Eml70BZ67gchvz",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dafbb29e-ef4d-475d-8622-704a081c300d",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        0
      ],
      "id": "d13d27fb-8ddf-45b1-89ef-7b33b103e861",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        -96
      ],
      "id": "9ba49cc6-dfb8-4ebb-8ebc-cd45ec7dcb8e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc",
          "mode": "list",
          "cachedResultName": "IMAGE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNQQPj6Dfu_Xzcze9D2RKjzKDXFv8--jKGE4oPBppdc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "S. No": "={{ $('Google Sheets Trigger').item.json['S. No'] }}",
            "Status": "CREATED",
            "URLS": "={{ $json.permalink }}\n\n\n{{ $json.url_private }}\n"
          },
          "matchingColumns": [
            "S. No"
          ],
          "schema": [
            {
              "id": "S. No",
              "displayName": "S. No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PROMPT",
              "displayName": "PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URLS",
              "displayName": "URLS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        -176
      ],
      "id": "36a383fc-aeda-4c6b-8786-17b89a6793cb",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5juszwtLc6D0v9rq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        896,
        -192
      ],
      "id": "76954b7b-140e-4c86-9abe-c5bbff93ad55",
      "name": "Upload a file",
      "webhookId": "09cc1bfd-d247-4dc2-8b0b-a442362bad19",
      "credentials": {
        "slackOAuth2Api": {
          "id": "JUxwLZOxxr23mz1X",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{ $json.PROMPT }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        592,
        -192
      ],
      "id": "9da28194-fa28-487d-af0e-4ec2d4bdffb0",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "IL0hubi6cb74e0IA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e417e4a5-31e0-4fdf-90e7-5f33090672ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d74a84e9b05e800d92d5ee8a190f581e0dafa29601c613308998a8cb74a8a430"
  },
  "id": "8aTCRlARh8OEWL7v",
  "tags": []
}